* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

a {
  color: white;
  text-decoration: none;
}

span {
  font-style: normal;
}

#header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  background: #09462d;
  padding: 10px 20px;
  width: 100%;
  height: 60px;
}

#header h1 {
  font-size: 30px;
  color: white;
}

#header .nav {
  font-size: 30px;
}

#header .nav span {
  opacity: 0.5;
}

#header .nav span.active {
  opacity: 1;
}

#view {
  background: #f1f1f1;
  box-sizing: border-box;
  height: 100vh;
  padding-top: 60px;
  display: flex;
}

#view .inputArea {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 20px;
}

#view input.title {
  background: white;
  box-sizing: border-box;
  padding: 4px;
}

#view .title {
  width: 100%;
  background: none;
  border: 0;
}

#view textarea.text {
  background: white;
  box-sizing: border-box;
  padding: 4px;
}

#view .text {
  width: 100%;
  height: 100%;
  background: none;
  margin-top: 20px;
  border: 0;
}

#view .date {
  position: absolute;
  right: 20px;
  top: 20px;
}

#view .btnWrap {
  display: flex;
  justify-content: flex-end;
}

#view .btnWrap .btn {
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 35px;
  width: 100px;
  height: 40px;
  background: #09462d;
  color: white;
  border: 0;
  transition: background 0.2s, transform 0.4s;
  cursor: pointer;
}

#view .btnWrap .btn:hover {
  transform: scale(1.05);
}

#view .btnWrap .btn:active {
  background: #011a0f;
  transform: scale(0.95);
}

#view .aside {
  background: white;
  box-sizing: border-box;
  height: 100%;
  width: 460px;
  padding: 20px;
  overflow: hidden;
  position: absolute;
  right: -500px;
  opacity: 0;
  transition: all 0.4s;
}

#view .aside.active {
  position: relative;
  opacity: 1;
  right: 0;
}

#view .aside ul {
  list-style: none;
}

#view .aside ul li {
  transition: background 0.4s;
}

#view .aside ul li.active {
  background: #09462d;
}

#view .aside ul li.active a {
  color: white;
}

#view .aside ul li a {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  color: #282828;
  padding: 5px 10px;
  transition: color 0.4s;
}
